@import url('https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light');

:root {
  --defaultMessageColor: rgba(2, 82, 82, 0.88);
  --secondaryColor: #eee;
}

body {
  background: #FFDEE9; 
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  
  background: linear-gradient(to right, #FFDEE9, #B5FFFC); 
}

form {
  padding: 3px;
  position: fixed;
  bottom: 0; 
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 95;
  background: tomato;
  border: none;
  padding: 10px;
}

.chat { margin-top: 9em;}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10em;
}

#messages li { 
  padding: 5px 10px; 
	background: var(--defaultMessageColor);
  position: relative;
  margin: 1em;
  color: var(--secondaryColor);
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

#messages li:nth-child(odd) { 
  background: var(--secondaryColor);
  font-family: 'Shadows Into Light', cursive; 
  color: #000;
}

.users-list {
  border: 1px solid rgba(0, 139, 139, 0.12);
  background: rgba(1, 39, 39, 0.12);
  border-radius: 12px;
  width: 25%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

.users-list ul {
  padding: 0;
}

.users-list li {
  text-transform: uppercase; 
  list-style: none;
}

.users-list li a {
  color: #0300bb;
}

.users-list li a:hover {
  color: tomato;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#pickles {
  background: darkcyan;
  position: relative;
}