body {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

form {
  padding: 3px;
  position: fixed;
  bottom: 0; 
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 95;
  background: tomato;
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10em;
}

#messages li { 
  padding: 5px 10px; 
	background: #ff6666;
  position: relative;
  margin: 1em 0 3em;
  color: #000;
  border-radius: 10px;
}

#messages li:nth-child(odd) { background: #eee; }

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#pickles {
  background: darkcyan;
  position: relative;
}